body {
    background-image: url("Pictures/Background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Header {
    padding: 10px;
}

.Experience {
    padding: 0px 50px 50px 110px;
    min-width: 0px;
}

.Github {
    filter: brightness(0) invert(1);
}

.Experience {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    row-gap: 50px;
}

.HCLImg {
    position: absolute;
    top: 30px;
}

.HCLText {
    position: absolute;
    top: 150px;
}

/* .BulletImg {
    height: 30%;
} */

.StockImg {
    position: absolute;
    top: 30px;
}

.StockText {
    position: absolute;
    top: 200px;
}

