.Header, .Experience {
    padding: 10px;
}

.Github {
    filter: brightness(0) invert(1);
}

.Experience {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    row-gap: 50px;
}

.HCLImg {
    position: absolute;
    top: 30px;
}

.HCLText {
    position: absolute;
    top: 150px;
}

.DepopDescription {
    text-align: initial;
}

.StockImg {
    position: absolute;
    top: 30px;
}

.StockText {
    position: absolute;
    top: 200px;
}

