body {
    background-image: url("Pictures/Background.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.Header {
    padding: 10px;
}

.Github {
    filter: brightness(0) invert(1);
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}

.Experience {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, 30em); */
    text-align: center;
    row-gap: 10px;
    column-gap: 10px;
    
}

@media only screen and (max-width: 1060px) and (min-width: 750px) {
    .Experience {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 749px) and (min-width: 0px) {
    .Experience {
        grid-template-columns: 1fr;
    }
}

.HCLImg {
    position: absolute;
    top: 30px;
}

.HCLText {
    position: absolute;
    top: 150px;
}

/* .BulletImg {
    height: 30%;
} */

.StockImg {
    position: absolute;
    top: 30px;
}

.StockText {
    position: absolute;
    top: 200px;
}

